Builds
Temp/
obj/
Library/
Logs/
Assets/Sandbox/
Assets/Sandbox.meta
**/UnityVS/

**.booproj
**.user
**.svd
**.csproj
**.sln
**.unityproj
**.pidb
**.userprefs
**.suo
**.DS_Store
**.DS_Store?
**/Thumbs.db
**/UnityVS.meta
**.DotSettings
**._*
**.Spotlight-V100
**.Trashes
**/ehthumbs.db
Assets/Resources/DevSettings.json
Assets/Resources/DevSettings.json.meta
Dummy.unity.meta
MeshRenderer.Core.csproj.meta
Assets/CreateScriptDialog
Assets/CreateScriptDialog.meta
Assets/.vscode
.vs
.vscode/launch.json
.vscode/settings.json
Assets/Plugins/Editor/VSCode.cs
Assets/Plugins/Editor/VSCode.cs.meta

VSCode.cs
Assets/VSCode/HOWTO.pdf
Assets/VSCode/HOWTO.pdf.meta
Assets/VSCode/LICENSE
Assets/VSCode/LICENSE.meta
Assets/VSCode/Plugins.meta
Assets/VSCode/README.md
Assets/VSCode/README.md.meta
Assets/VSCode/Plugins/Editor.meta
Assets/VSCode/Plugins/Editor/VSCode.cs.meta
VSCode.meta
VSCode.cs.meta


DataAnalyze/.idea
DataAnalyze/__pycache__
DataAnalyze/*.xlsx
DataAnalyze/*.txt
Assets/Plugins/Editor/JetBrains.meta
.idea/.idea.Game/.idea/encodings.xml
Assets/Plugins/Editor/JetBrains
.idea/.idea.Game/.idea/indexLayout.xml
.idea/
.idea/.idea.Game/.idea/workspace.xml
.idea/.idea.Game/.idea/contentModel.xml
.idea/.idea.Game/.idea/workspace.xml
.idea/.idea.Game/.idea/contentModel.xml
Assets/FR2_Cache.asset
Assets/FR2_Cache.asset.meta
AirTest/results
AirTest/.vscode
AirTest/Common/__pycache__
AirTest/results_perf
Assets/Resources/ab.asset.meta
Assets/Resources/ab.asset
.idea/
AirTest/__pycache__
AirTest/GoogleScriptProject/node_modules
Log/.idea/
Packages-Update.log
AssetValidatorResult
BuildFolder/BuildTemporary
Logs
UserSettings/EditorUserSettings.asset
Assets/___Location.meta
Assets/___Location
Thumbs.db.meta
Game/UserSettings/
FlatBufferBuild/flatbuffers-1.12.0/tests/
FlatBufferBuild/flatbuffers-1.12.0/samples/

IL2CPP_Cache/
